.deleteMain{
    height: 84vh;
    background-color: rgb(192, 67, 67);
}
.deleteSub{
    
}
.deleteHeadline{
    margin-top: 20px;
}
.deleteSubHeadline{

}
.fieldDeleteForm{
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.deleteButton{
    background-color: rgb(175, 11, 11);
    border: solid black 3px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.deleteParagraph{
    color: black;
}